beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
filelock
flatbuffers
fsspec
gast
gitdb
GitPython
google-pasta
grpcio
h5py
huggingface-hub
idna
intel-openmp
Jinja2
jsonschema
jsonschema-specifications
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
mkl
ml-dtypes
mpmath
namex
networkx
numpy
optree
packaging
pandas
pillow
protobuf
pyarrow
pydeck
python-dateutil
pytz
regex
requests
rich
rpds-py
safetensors
setuptools
six
smmap
soupsieve
streamlit
sympy
tbb
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
tf_keras
tokenizers
toml
toolz
torch
torchaudio
torchvision
transformers
utils